<a href="https://colab.research.google.com/github/sunwoosan/todayis/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3일차

#1. 연산자

1) 산술연산자(int, float 사용)

In [17]:
print(1+4, type(1+4))
print('안녕'+'하세요') #문자열일때는 연결을 의미
print(3-1, type(3-1))
print(3.14//3)

#print('hi'+1.2) #TypeError > 문자열과 실수형(정수형)은 서로 연산을 할 수가 없음
#다시 고쳐서 써보면
print('hi'+str(1.2))

#실습 7.3을 사용해서 해보새오. 

print(7+3)
print(7-3)
print(7/3) #정수/정수 = 실수형
print(7//3) 
#print(7/0) #정수 / 0 -> 오류 ZeroDivisionError: division by zero
print(7%3)
print(7**3)

#print('안녕'*'하세요') #TypeError: can't multiply sequence by non-int of type 'str'
print('hi'*3) #문자열에서 곱셈을 하게되면 '문자열' * '정수형' -> 반복을 의미함

5 <class 'int'>
안녕하세요
2 <class 'int'>
1.0
hi1.2
10
4
2.3333333333333335
2
1
343
hihihi

2) 대입 연산자 

= 는 반드시 왼쪽에 변수 배치 되고 오른쪽에 저장할 값 배치 

복합 대입 연산자는 연산자를 통해 먼저 연산을 진행하고 그 결과를 변수에 대입, 즉 연산 다 끝내고 대입하겠다.

In [29]:
num1 = 2
num1 += 1
print(num1)

num2 = 3
num2 -= 1 #num2 = 3 - 1
print(num2)

num3 = 10
num3 += 5 #num3 = num3 + 5
print(num3)

num3 *= 2 #기존에 잇는 num3에 *2를 하겠다. 같은 변수에 다른 값들이 저장. 
print(num3)#변수의 재사용

num1 **= 2 #num1 = 3 ** 2
print(num1)

num1 /= 3 #num1에 나누기 3을 한 값을 넣겠다. (정수/정수 = 실수형이 나옴)
print(num1) #3.0 실수형이 나옴 

num1 %=2 #num1 = 3.0 % 2
print(num1)

3
2
15
30
9
3.0
1.0

3) **관계 연산자**(조건문이나 반복문에서 많이 사용)
엄청 중요함

In [34]:
num4 = 10
num5 = 20
print(num4 < num5)
print(num4 > num5)
print(num4 <= num5) #=<로 쓰면 오류가 떠 #SyntaxError: invalid syntax
print(num4 == num5)

True
False
True
False

4) 논리 연산자

In [47]:
a = True
b = False 

print(a and b) #and는 둘다 참이면 참, 둘 중 하나라도 거짓이면 거짓 
print(a or b) #or는 둘중 하나라도 참이면 참이고, 둘다 거짓이면 거짓이 나와 . 둘중 하나 참이라서 참 
print(not a) # 지금 a 는 참이니까 거짓이 나옴
print(not b)
print(not a and b) #뒤에 연산하고 앞에꺼 나오는 듯 

num6 = 0 #False 값 
num7 = 5 #True 값 
num8 = True
print(num6 and num7) #True: 1, False: 0이 출력될 것인데...둘중에 하나가 거짓(0)이니까 0
print(num6 and num8) #둘다 참이어야 하는데 둘 중 하나라도 거짓이라서 num6이 하여간 문제다. 
print(num6 or num7) #둘 중 하나라도 참일 때니까 num7이 참. 참일 때는 참인 값 자체가 출력이 된다. 
print(not num6)
print(num6)

False
True
False
True
False
0
0
5
True
0

In [3]:
#논리 연산자이 출력 결과가 다음과 같도록 만들기 
#변수가 들어가있으니 포멧팅을 해서 사용해주세요. 
a = 10
b = 0 
#[출력결과]
# 10 > 0 and 0 > 0 : False
# 10 > 0 or 0 > 0 : True
# not 10 : False
# not 0 : True


num9 = 10
num10 = 0 
print(num9 > 0  and num10 > 0)
print(num9 > 0 or num10 > 0)
print(not num9)
print(not num10)

print("{} > 0 and {} > 0 : {}".format(a, b, a > 0 and b >0)) #이 조건이 맞으면 들어가감
print("{} > 0 and {} > 0 : {}".format(a, b, a > 0 or b >0)) #콤마를 기준으로 하나씩 들어가는 거임
print("not {} : {}".format(a, not a)) #이 조건이 맞으면 들어가감
print("not {} : {}".format(b, not b)) #이 조건이 맞으면 들어가감

False
True
False
True
10 > 0 and 0 > 0 : False
10 > 0 and 0 > 0 : True
not 10 : False
not 0 : True

5) 시퀀스 연산자

In [19]:
list1 = [1,2,3,4]
list2 = [4,5,6,7]
print(list1, type(list1))
print(list2, type(list2))
print(list1+list2) #연결
print(list1 * 3) #연결

string1 = "hi"
string2 = "sun"
print(string1 + string2) #연결
print(string1 * 5) #연결

[1, 2, 3, 4] <class 'list'>
[4, 5, 6, 7] <class 'list'>
[1, 2, 3, 4, 4, 5, 6, 7]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
hisun
hihihihihi

6) 비트 연산자

In [28]:
bit1 = 0b1100
bit2 = 0b1101
print(0b1100 & 0b1101)
print(bit1 & bit2) # and 연산자(&): 논리곱 ( 하나라도 0이면 0, 모두 1일 때 1)
print(bit1 | bit2) #논리합: 하나라도 1이면 1
print(bin(~bit1)) #not 연산자(~): 0일 때 1, 1일 때 0
print(bit1^bit2) #xor 연산자(^): 모두 같은 수일 때 0, 모두 다른수일 때 1
print(bin(bit1<<1))#bin 넣으면 2진수로 확인 하는 것 
print(bin(bit2>>2))

12
12
13
-0b1101
1
0b11000
0b11

7) 삼항 연산자

In [30]:
#조건연산자를 사용해서 두 수의 차이를 출력하는 프로그램 만들기

num1 = 10
num2 = 20
result = (num1 - num2) if (num1 >= num2) else (num2-num1)
print(f"{num1}과 {num2}의 차이는 {result}입니다.")

10과 20의 차이는 10입니다.

#2. 컬렉션(list, tuple, set, dict)

1) list

In [44]:
list1 =[1,2,3,4,5]
print(list1, type(list1)) #시퀀스 자료형
print(list1[2]) #list도 인덱스가 가능하다
print(list1[1:4]) #인덱스가 가능할 때는 슬라이싱이 가능하다

list2 = [6,7,8,9]
print(list1+list2)
print(list1*3) #정수형으로 넣어야 함 

list3 = ["hi"]
print(list3, type(list3)) #여기서는 리스트는 리스트로 인식했음

[1, 2, 3, 4, 5] <class 'list'>
3
[2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
['hi'] <class 'list'>

2) tuple

In [52]:
         #0 1 2 3 4  
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9)
print(tuple1, type(tuple1))
print(tuple1[2]) #인덱스가 가능하다면 시퀀스 자료형, 슬라이상
print(tuple2[1:3])

tuple3 = ("hi")
print(tuple3, type(tuple3)) #튜플 자료형인 줄 알았지만 스트링으로 인식하는 걸 볼 수 있음 
tuple4 = ("hi",) #한개만 쓰고 싶을때라도, 콤마를 추가 하면 
print(tuple4, type(tuple4)) #튜플로 나옴 

#그래서 자료형을 만들 때는 내가 어떤 자료형을 만들었는지 늘 확인을 해야해. type계속 보는 이유가 그것. 
#print(tuple1 + tuple3) TypeError: can only concatenate tuple (not "str") to tuple

print(tuple1 + tuple4)
print(tuple2 * 4)

#튜프은 읽기 전용 
#리스트는 수정이 됨

(1, 2, 3, 4, 5) <class 'tuple'>
3
(7, 8)
hi <class 'str'>
('hi',) <class 'tuple'>
(1, 2, 3, 4, 5, 'hi')
(6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9)

3) set

In [56]:
set1 = {1,2,3,4}
set2 = {5,6,7,8} #순서 없이 자기가 원하는대로 맘대로 뒤죽박죽 출력함. 시퀀시가 아님
print(set1, type(set1))
print(set2, type(set2))
#print(set1[1]) 

#세트는 인덱스 개념이 없기 때문에 인덱스로 출력하고자하면 오류가 발생 
#TypeError: 'set' object is not subscriptable

#마찬가지로 세트는 연산도 불가 -> 즉 순서가 없다라는 말임*** 
#print(set1 +set2)
#TypeError: unsupported operand type(s) for +: 'set' and 'set'

set3 ={1,2,3,3,4,4,5,5,5}
print(set3) #중복된 값도 허용하지 않는다(튜플, 리스트, 다 순서 있고 중복을 허용함)

{1, 2, 3, 4} <class 'set'>
{8, 5, 6, 7} <class 'set'>
{1, 2, 3, 4, 5}